<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
   <title>{% if page.title %} {{ page.title }} {% endif %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!--<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">-->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

 <div id="mastheadbackground"><a href="/"></div>
        
<section id="posts">
            <div id="masthead">
                
                
               <img src="http://dddqpqcwu46jj.cloudfront.net/blog-images/brent.png"/></a>
	                   
                        <p id="description">I am <a href="/about" rel="author">Brent McCardle</a>:
                        a part-time programmer, technical writer, Optician, and a long time LSU fan.
                        </p>
	                    
                    <nav>
                        <a href="/about">About</a>
                        -
                        <a href="http://brent.mccardle.me/opticaltool/">Optical Tool</a>
                        -
                        <a href="https://twitter.com/brent_mccardle">Twitter</a>
                       <!-- -
                        <a href="#link">Links</a>-->
                    </nav>
                </div>
            </div>
            
                    <article>
                        
	                        
	                        
  <nav style="margin-left: 75px;">
                         <a href="oblique-meridian.html">Oblique Meridian</a>
     -
	 <a href="thickness.html">Thickness</a>
	 -
	  <a href="pow.html">PoW</a>
                       <!-- -
                        <a href="#link">Links</a>-->
                    </nav>  
  