<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!--<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.marco.org/rss" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>-->
        <!--[if IE]>
        <script src="/ie-is-an-idiot.js"></script>
        <![endif]-->
        
        
        <link rel="stylesheet" href="/css/main.css"/>
      
        <title>{% if page.title %} {{ page.title }} {% endif %}</title>
        <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    showProcessingMessages: false,
      tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    }
    
  });
</script>

            </head>
    <body>
        
        <div id="mastheadbackground"><a href="/"></div>
        <section id="posts">

            <div id="masthead">
                
                
               <img src="https://brent.imgix.net/brent.png"/></a>
	                   
                        <!--<p id="description">I am <a href="/about" rel="author">Brent McCardle</a>:
                        a part-time programmer, technical writer, Optician, and a long time LSU fan.
                        </p>-->
	                    
                    <nav>
                        <a href="/about">About</a>
                        -
                        <a href="http://brent.mccardle.me/opticaltool/">Optical Tool</a>
                        -
                        <a href="https://twitter.com/brent_mccardle">Twitter</a>
                       <!-- -
                        <a href="#link">Links</a>-->
                    </nav>
                </div>
            </div>