   <div class="fin">&#9670;</div>
   <h3><a name="link">Links</a> </h3>
                                    <article class="link">
                        <header>
	                        
	                        
                                                            <h2>
                                    <a href="http://abcnews.go.com/GMA/Consumer/story?id=3820387&page=1">Eyeglass Chain Stores Put to the Test</a>
                                    <span class="linkarrow">&rarr;</span>                                </h2>
                            
                            
                    </article>