---
title: Brent McCardle
---

{% include header.html %}


                       <article>
                        
	                        
	                        {{ content }}
                                                         

                        
                    </article>
                    
                    
                 {% include links.html %}
                                           
            {% include footer.html %}
          
        </section>
    </body>
</html>

