---
title: About Brent
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <!--<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.marco.org/rss" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png"/>-->
        <!--[if IE]>
        <script src="/ie-is-an-idiot.js"></script>
        <![endif]-->
        
        
        <link rel="stylesheet" href="/css/main.css"/>
      
        <title>{% if page.title %} {{ page.title }} {% endif %}</title>
        <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

            </head>
    <body>
        
        <div id="mastheadbackground"><a href="/"><img src="http://dddqpqcwu46jj.cloudfront.net/blog-images/brent.png"/></a></div>
        <section id="posts">

            <div id="masthead">
                
                
               
	                   
                        <!--<p id="description">I am <a href="/about" rel="author">Brent McCardle</a>:
                        a part-time programmer,trying to be a technical writer, Optician, and long time LSU fan.
                        </p>-->
	                    
                    <nav>
                        <a href="/about">About</a>
                        -
                        <a href="http://brent.mccardle.me/opticaltool/">Optical Tool</a>
                        -
                        <a href="https://twitter.com/brent_mccardle">Twitter</a>
                        
                    </nav>
                </div>
            </div>
            
	            <article>
            <h3>Projects</h3>
            <a href="/"><img width="300px" height="300px" src="http://dddqpqcwu46jj.cloudfront.net/blog-images/optical_tool_icon.png"/></a>
            <p><a href="http://brent.mccardle.me/opticaltool/">Optical Tool</a> is an iOS app for anybody in the optical industry</p>
            <h3>About</h3>
            <p>I am a dedicated educator with over 25 years of optical experience.
My understanding of the optical industry encompasses all facets including training and development with Zeiss, teaching Opticianry at Durham Technical Community College,  managing a surfacing laboratory, optical theory, managing a dispensary, contact lenses, and retail sales.
As an NC licensed optician and technical speaker for the ABO/NCLE I have created courses for individuals to provide them needed ABO/NCLE hours. 
In addition to my optical experience, I have written an iOS app which performs different optical calculations to help apprentice opticians, opticians, students, or anyone in the optical field gain a better understanding of how calculations are determined.
</p>    
                
	            </article>
          {% include footer.html %}
        </section>
    </body>
</html>